{% extends 'base.html' %}
{% block page_content %}
    <div class="container">
        <div class="col-md-12">
        <h1>details</h1>
        
            <table class="table">
                <thead>
                <tr>
                    <th>clerk ID: </th>
                    <th>equipment ID: </th>
                    <th>Date: </th>
                    <th>Usage: </th>
                    <th>operation </th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td>{{ a.clerk_id }}</td>
                        <th>{{ a.equipment.id }}</th>
                        <th>{{ (a.date|string)[5:10] }}</th>
                        <th>{{ a.usage }}</th>
                        {% if current_user.is_authenticated %}
                        <td><a href="{{ url_for('admin.transaction_modify',id=a.id) }}">pay</a></td>
                        {% endif %}
                    </tr>
               
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
