{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-6">
        <h2>Your Refund</h2>
        <table class="table">

            <thead>
            <tr>
                <th>bill id</th>
                <th>bill serial_number</th>
                <th>date</th>
                <th>usage</th>
            </tr>
            </thead>
            <tbody>
            {% for foo in list %}
                <tr>
                    <td>{{ foo.id }}</td>
                    <td>{{ foo.serial_number }}</td>
                    <th>{{ (foo.date|string)[5:10] }}</th>
                    <th>{{ foo.exchange }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
